<ion-header>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="receitas" ></ion-back-button>
      </ion-buttons>
      <ion-title>Formulário - receita</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>
<ion-content>

<ion-item>
  <ion-label position="floating">Descrição</ion-label>
  <ion-input [(ngModel)]="receita.description"  placeholder="Descrição"></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Valor</ion-label>
  <ion-input [(ngModel)]="receita.value" placeholder="Valor"></ion-input>
</ion-item>


<ion-item>
  <ion-label>Vencimento</ion-label>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime [(ngModel)]="receita.dueDate" presentation="date"  id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
</ion-item>

<ion-list>
  <ion-item>
    <ion-select  [(ngModel)]="receita.categoria.id" interface="action-sheet" placeholder="Selecione a Categoria">
      <ion-select-option *ngFor="let categoria of categorias"  [value]="categoria.id">{{categoria.description}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-button (click)="salvar()" expand="block">Salvar</ion-button>


</ion-content>
