
<button (click)="adicionar()" class="btn btn-danger">Adicionar</button>

<div class="base" *ngFor="let item of todos">
<div class="item-base">
  <input [checked]="item.isDone" type="checkbox" class="form-check-input" />
</div>
<div class="item-base">
<b>{{item.title}}</b>
  <small>{{item.description}}</small>
</div>
<div class="item-base">
  <a [routerLink]="['/edit/' + item.id] ">edit</a>
  <button (click)="excluir(item)" type="button" class="btn-close" aria-label="Close"></button>
</div>
</div>
