<div class="base">
  <button (click)="adicionar()" class="btn btn-danger">Adicionar</button>
  <table class="table table-striped">
    <tr>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Opções</th>
    </tr>
    <tr *ngFor="let item of todos">
      <td>
        {{ item.title }}
      </td>
      <td>
        {{ item.description }}
      </td>
      <td>
        <input
          [checked]="item.isDone"
          type="checkbox"
          class="form-check-input"
        />
      </td>
      <td>
        <a [routerLink]="['/edit/' + item.id]">edit</a>
        <button
          (click)="excluir(item)"
          type="button"
          class="btn-close"
          aria-label="Close"
        ></button>
      </td>
    </tr>
  </table>
</div>
