<div class="row p-2">
  <div class="col-12">
  <label class="form-label" for="title">Título:</label>
  <input  [(ngModel)]="todo.title" class="form-control" id="title" type="text">
</div>
</div>
<div class="row p-2">
  <div class="col-12">
  <label class="form-label" for="description">Descrição:</label>
  <textarea [(ngModel)]="todo.description" class="form-control" id="description"></textarea>
  </div>
</div>
<div class="row p-2">
  <div class="col-12">
  <label class="form-label" for="isDone">feito?</label>
  <input [(ngModel)]="todo.isDone" class="form-control-check" id="isDone" type="checkbox">
  </div>
</div>
  <button (click)="salvar()" class="btn btn-primary">Salvar</button>

  {{ todo | json }}
